@model PortalStudent.MVC5.Models.ClassWithStudentsVM

@{
    ViewBag.Title = "Composition Classe";
}

<h2>@ViewBag.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classe.Local)
        </dt>

        <dd>
            <h3>@Html.DisplayFor(model => model.Classe.Local)</h3>
        </dd>

    </dl>
</div>
<h2>Etudiants inscrits dans la classe '@Html.DisplayFor(model => model.Classe.Local)'</h2>

<p>
    @Html.ActionLink("Ajouter étudiant", "ListStudent", new { ClassId = Model.Classe.ClassId })
</p>

<ul>
    @foreach (var item in Model.Students)
    {
    <li>
        @Html.DisplayFor(modelItem => item.Name)
    </li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { ClassId = Model.Classe.ClassId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
