@model IEnumerable<PortalStudent.Common.Domain.Sandwich>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                (
                @{
                    var fullIngredients = "";
                }
                @foreach (var ing in item.Ingredients)
                {
                    if (fullIngredients != "")
                    {
                        fullIngredients += ", ";
                    }
                    fullIngredients += ing.Name;
                }
                @Html.DisplayFor(ModelIng => fullIngredients)
                )
            </td>
            <td>
                <!--  @Html.ActionLink("Edit Composition", "Composition", new { id = item.SandwichId }) | -->
                @Html.ActionLink("Edit", "Edit", new { id = item.SandwichId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SandwichId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SandwichId })
            </td>
        </tr>
    }

</table>
